@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@1&family=Roboto+Mono:wght@300&family=Schibsted+Grotesk&display=swap');
.nav{
    
    width:100%;
    position:fixed;
    top:0;
    z-index: 1;
    display:flex;
    align-items: center;
    flex-direction: row;
    background: var(--black);
   /*justify-content: center;*/
    padding: 6px 80px;
    box-shadow: 0 0 5px 5px rgba(43, 41, 41, 0.6);
    transition:0.6s;
    scroll-behavior: smooth;
    text-transform: uppercase;
}
   
.n-left{
    display: flex;
    align-items: center;
    margin-right:25rem;
    gap:1rem;
    
    
}
.n-left img{
    height: 2.5rem;
    width: 2.5rem;
}
.n-left span{
  color: var(--light);
  font-family: 'Instrument Serif', serif;
  text-transform: none;
  font-size: 1rem;
    
}
.n-right ul{
    display: flex;
    align-items: center;
     margin-left:9rem;
    /* padding-right:15rem*/
 }
.n-right ul li{
     list-style: none;
     padding: 0 15px;
     position:relative;
    
}
.n-right ul li a{
    text-decoration: none;
    font-size: 1rem;
    color: var(--light);

}
.n-right ul li a:hover{
    color:var(--white);
}
.n-right ul li a:hover::after,.n-right ul li a.active::after{
    content:"";
    width:30%;
    height:1px;
    background:var(--light);
    position:absolute;
    bottom:-4px;
    left:16px;
}
.n-menu{
     display:none;
}



@media screen and (max-width:768px){
    .nav{
        padding-left:1rem;
    }
    .n-left{
        padding:1rem;
    }
    .n-right{
    display:none;
    }
   .n-right-responsive {
        position:absolute;
        display:block;
        background-color:var(--black);
        left:0;
        top:75px;
        transition:all 0.5s ease-out;
        width:100%;
        /*padding-left:25%;*/
    }
     .n-right-responsive ul li{
        list-style: none;
        padding:15px;
    }
    /*.n-right-responsive ul li a{
      color: var(--light);
      text-align:center;
      display: flex;
      justify-content: center;
      transition:all 0.5s ease;
      list-style: none;
      text-decoration: none;
    }*/
    .n-right-responsive ul li a{
        color: var(--light);
        display: flex;
        justify-content: center;
        transition:all 0.5s ease;
        list-style: none;
        text-decoration: none;
        padding-right:25%
    }
   
    .n-menu{
        display:block;
       position:absolute;
        font-size: 30px;
        color:var(--light);
        background:var(--black);
        margin-left:65%;
        margin-bottom:2rem;
        border:none ;
        text-align: center;
        height:2.5rem;
        width:2.5rem;
        
    }
   
    .n-right-responsive ul li a:hover{
            color: white;
           
    }
    .theme{
        float:left;
    }
        
}
