@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@1&family=Roboto+Mono:wght@300&family=Schibsted+Grotesk&display=swap');
:root{
  --black:#1e1b1b;
  --grey:#736666;
  --light:#c8b1b1;
  --white:#ffffff;
}
*{
  scroll-behavior: smooth;
  transition:all .2s linear;
 
}
.App{
  overflow: hidden;
  font-family: 'Schibsted Grotesk', sans-serif;
}
.content{
  background: var(--light);
}
