@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@1&family=Roboto+Mono:wght@300&family=Schibsted+Grotesk&display=swap');
:root{
  --black:#1e1b1b;
  --grey:#736666;
  --light:#c8b1b1;
  --white:#ffffff;
  --blue:#273f5b;
}
*{
  scroll-behavior: smooth;
  transition:all .2s linear;
 }
.App{
  /*overflow-x: hidden;*/
  font-family: 'Schibsted Grotesk', sans-serif;
}
.content{
   margin-top: 1rem;
 }
&&::-webkit-scrollbar{
  display:none
}